//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Button      4
#define Game        5
#define Gameplus    6

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mo { locking; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        hml: HMLeft {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <165>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 15 27 26 35 34 33 32 36 37 16 6 7 28 17 8 18 29 19 9 30 31>;
            hold-trigger-on-release;
        };

        hmr: HMRight {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <165>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 24 25 32 33 34 34 35 36 37>;
        };
    };

    macros {
        change_language: change_language {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_ALT)>;
            label = "CHANGE_LANGUAGE";
        };

        left_bracket: left_bracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&change_language &kp LBKT &change_language>;
            label = "LEFT_BRACKET";
        };

        right_bracket: right_bracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&change_language &kp RBKT &change_language>;
            label = "RIGHT_BRACKET";
        };

        left_brace: left_brace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&change_language &kp LBRC &change_language>;
            label = "LEFT_BRACE";
        };

        right_brace: right_brace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&change_language &kp RBRC &change_language>;
            label = "RIGHT_BRACE";
        };

        less_than: less_than {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&change_language &kp LESS_THAN &change_language>;
            label = "LESS_THAN";
        };

        greater_than: greater_than {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&change_language &kp GREATER_THAN &change_language>;
            label = "GREATER_THAN";
        };

        ampersand: ampersand {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&change_language &kp AMPERSAND &change_language>;
            label = "AMPERSAND";
        };

        hash: hash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&change_language &kp HASH &change_language>;
            label = "HASH";
        };

        comma: comma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&change_language &kp COMMA &change_language>;
            label = "COMMA";
        };

        dot: dot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&change_language &kp DOT &change_language>;
            label = "DOT";
        };
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        kha {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <6 7>;
        };

        yo {
            bindings = <&kp GRAVE>;
            key-positions = <3 4>;
        };

        hard_sign {
            bindings = <&kp RBKT>;
            key-positions = <7 8>;
        };

        dot {
            bindings = <&dot>;
            key-positions = <23 24>;
        };

        comma {
            bindings = <&comma>;
            key-positions = <27 28>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
         &kp Q            &kp W        &kp E             &kp R          &kp T        &kp Y      &kp U         &kp I         &kp O        &kp P
         &hml LEFT_GUI A  &hml LALT S  &hm LCTRL D       &hml LSHIFT F  &kp G        &kp H      &hmr RSHFT J  &hmr RCTRL K  &hmr RALT L  &hmr RGUI SEMICOLON
&kp TAB  &kp Z            &kp X        &kp C             &kp V          &kp B        &kp N      &kp M         &kp COMMA     &kp DOT      &kp APOSTROPHE       &kp BACKSPACE
                                       &kp LEFT_CONTROL  &mo 1          &kp SPACE    &kp SPACE  &mo 2         &kp ENTER
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp NUMBER_4    &kp N5             &kp NUMBER_6     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp N0
         &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp PAUSE_BREAK    &kp PRINTSCREEN  &kp LEFT      &kp UP_ARROW  &kp RIGHT     &kp PAGE_UP
&kp TAB  &none         &none         &none             &kp DELETE      &kp ENTER          &none            &kp HOME      &kp DOWN      &kp END       &kp PAGE_DOWN  &kp DELETE
                                     &none             &trans          &none              &kp ENTER        &mo 3         &none
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
       &kp EXCL     &kp AT         &kp HASH    &kp DOLLAR      &kp PERCENT             &kp CARET              &kp AMPS   &kp ASTRK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
       &less_than   &left_bracket  &ampersand  &kp KP_MINUS    &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp PLUS   &none      &right_bracket        &greater_than
&none  &left_brace  &none          &hash       &kp UNDERSCORE  &kp KP_SLASH            &kp BACKSLASH          &kp EQUAL  &comma     &dot                  &right_brace           &none
                                   &none       &mo 3           &kp ENTER               &none                  &trans     &none
            >;
        };

        Button {
            display-name = "Button";
            bindings = <
             &bt BT_SEL 0       &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4      &kp F1   &kp F2   &kp F3   &kp F4   &kp F5
             &kp LGUI           &kp LALT      &kp LCTRL     &kp LEFT_SHIFT  &studio_unlock    &kp F6   &kp F7   &kp F8   &kp F9   &kp F10
&bootloader  &ext_power EP_TOG  &bt BT_CLR    &out OUT_TOG  &out OUT_BLE    &out OUT_USB      &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &trans
                                              &to 4         &trans          &trans            &trans   &trans   &trans
            >;
        };

        Gaming {
            bindings = <
           &kp TAB           &kp Q  &kp X  &kp E         &kp R        &kp Y    &kp U             &kp I          &kp O    &kp P
           &kp LEFT_SHIFT    &kp A  &kp W  &kp D         &kp F        &kp H    &kp J             &kp K          &kp L    &kp SEMICOLON
&kp GRAVE  &kp LEFT_CONTROL  &kp Z  &kp S  &kp C         &kp V        &kp N    &kp M             &kp COMMA      &kp DOT  &kp SLASH      &kp APOS
                                    &to 0  &kp LEFT_ALT  &kp SPACE    &kp RET  &kp LEFT_CONTROL  &kp BACKSPACE
            >;

            display-name = "Gaming";
        };
    };
};
